/*
-- Example Styles
*/

/* source: https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css */
input[type="checkbox"], input[type="radio"] {
	/*
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	*/
}

/* example1 */

.example1 label {
	font-size: 1.5em;
	background: #EEE;
	padding: 0.5em 1em;
	transition: background 0.2s ease;
}

/* example2 */

.example2 label {
	font-size: 1.5em;
	color: #FFF;
	background: #F60;
	padding: 0.5em 1em;
	text-transform: uppercase;
	border-radius: 0.5em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 0 2px #963C00;
	transition: all 0.2s ease;
}

/* example3 */

.example3 ul {
	list-style: none;
}

.example3 li {
	border-bottom: 5px solid #3559BA;
}

.example3 label {
	display: block;
	background: #3F72FF;
	color: #FFF;
	font-size: 1.25em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	padding: 0.5rem 1rem;
	transition: background 0.2s ease;
}

.example3 label:hover {
	text-decoration: underline;
}

.example3 .content {
	background: #EEE;
	padding: 1em;
}

/*
-- Base Styles
*/

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	width: 640px;
	margin: 2em auto;
}

h1, h2 {
	margin-bottom: 1rem;
}

h1 {
	margin-top: 1rem;
}

.example {
	margin: 2em 0;
}

label {
	cursor: pointer;
	display: inline-block;
}